spring:
  application:
    name: rest-api-java
  datasource:
    url: jdbc:postgresql://localhost:5432/myappdb
    username: sa
    password: pass
    driver-class-name: org.postgresql.Driver
  sql:
    init:
      mode: never
  jpa:
    database-platform: org.hibernate.dialect.PostgreSQLDialect
    defer-datasource-initialization: true
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        format_sql: true